*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

h1{
  font-size: 60px;
  font-weight: 600;
  color: #7159C1;
  text-shadow: 3px 3px 5px #1c1631;
}

#sidebar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #7159C1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Important */
  z-index: 999;
  width: 0px;
  overflow: hidden;
  transition: width 0.8s;
}

#close{
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 200px;
  top: 20px;
  cursor: pointer;
}

#menu{
  font-size: 20px;
  color: #7159C1;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

ul{
  list-style: none;
}

li{
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  cursor: pointer;
}

li:hover{
  text-shadow: 2px 2px 2px #1c1631;
}